node_modules
.next
dist
build
.env*
!*.example
coverage
__pycache__
*.log
node_modules/
log.txt
*.tsbuildinfo
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
